/* Hanken Grotesk */
@font-face {
    font-family: "Hanken Grotesk";
    src: url('../fonts/HankenGrotesk/HankenGrotesk-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url('../fonts/HankenGrotesk/HankenGrotesk-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url('../fonts/HankenGrotesk/HankenGrotesk-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url('../fonts/HankenGrotesk/HankenGrotesk-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url('../fonts/HankenGrotesk/HankenGrotesk-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url('../fonts/HankenGrotesk/HankenGrotesk-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url('../fonts/HankenGrotesk/HankenGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url('../fonts/HankenGrotesk/HankenGrotesk-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url('../fonts/HankenGrotesk/HankenGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url('../fonts/HankenGrotesk/HankenGrotesk-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url('../fonts/HankenGrotesk/HankenGrotesk-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url('../fonts/HankenGrotesk/HankenGrotesk-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url('../fonts/HankenGrotesk/HankenGrotesk-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url('../fonts/HankenGrotesk/HankenGrotesk-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url('../fonts/HankenGrotesk/HankenGrotesk-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url('../fonts/HankenGrotesk/HankenGrotesk-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url('../fonts/HankenGrotesk/HankenGrotesk-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url('../fonts/HankenGrotesk/HankenGrotesk-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}