<div class="grid p-fluid mt-1">
    <div class="col-12">
        <div class="grid">
            <div class="field col-3">
                <span class="p-float-label p-float-label-static">
                    <input pInputText id="text" placeholder="Input"/>
                    <label htmlFor="text">Input <span style="color: red !important">*</span></label>
                </span>
            </div>
            <div class="field col-9"></div>
        </div>
        <div class="grid">
            <div class="field col-3">
                <span class="p-float-label p-float-label-static">
                    <input pInputText id="text" placeholder="Input"/>
                    <label htmlFor="text">Input <span style="color: red !important">*</span></label>
                </span>
            </div>
            <div class="field col-9"></div>
        </div>
        <div class="grid">
            <div class="col-3">
                <span class="p-float-label p-float-label-static">
                    <input pInputText id="text" placeholder="Input"/>
                    <label htmlFor="text">Input <span style="color: red !important">*</span></label>
                </span>
            </div>
            <div class="col-9">
                <p-button label="Button" icon="pi pi-check" styleClass="button-default" (onClick)="cerrarModal()"></p-button>
            </div>
        </div>
    </div>
</div>