p-sidebar {
    z-index: 9;
    position: relative;
}

:host ::ng-deep .p-sidebar {
    top: 41px;
    width: 270px;
    background-color: var(--color-sidebar);
    height: calc(100vh - 41px);
    overflow-y: auto;
    position: fixed;
}

.barra-lateral {
    width: 80px;
    height: calc(100vh - 41px);
    top: 41px;
    background-color: var(--color-sidebar);
    text-align: center;
    position: fixed;
    z-index: 10;
}

.logo {
    /* width: 40px; */
    height: 40px;
    margin-top: 35px;
    margin-bottom: 34px;
}

.logo-sidebar {
    width: 90px;
    height: 60px;
    margin-left: 10px;
}
.logo-sidebar-letras {
    margin-top: 9px;
    width: 135px;
    height: 42px;
    margin-left: 10px;
}

.menu-static {
    min-height: 42px;
    cursor: pointer;
}

.icono-static {
    width: 24px;
    height: 24px;
}

.circulo-static {
    height: 5px;
    width: 5px;
    background-color: var(--color-text-sidebar);
    border-radius: 50%;
    display: inline-block;
}

.titulo {
    font-size: 30px;
    font-weight: 900;
    margin-left: 15px;
    color: var(--color-text-sidebar);
}

.boton-abrir-menu {
    position: absolute !important;
    top: 85px;
    left: 69px;
    transition: 0.35s linear;
}

.boton-cerrar-menu {
    position: absolute !important;
    top: 85px;
    left: 259px;
    transition-delay: 100ms !important;
    transition: 400ms linear;
    font-size: 18px;
}

::ng-deep .boton-abrir-menu .p-button-icon,
::ng-deep .boton-cerrar-menu .p-button-icon {
    font-size: 18px !important;
}

::ng-deep .button-default-rounded {
    width: 20px !important;
    height: 20px !important;
    z-index: 10;
}

::ng-deep .menu-flotante {
    position: absolute;
    top: var(--top-menu-flotante) !important;
    left: 80px !important;
    background-color: var(--color-sidebar);
    color: var(--color-text-sidebar) !important;
    padding: 0px;
}

::ng-deep .barra-lateral .p-tieredmenu {
    border-radius: 0px 3px 3px 0px;
}

::ng-deep .barra-lateral .p-tieredmenu .p-menuitem .p-menuitem-link {
    width: 190px;
    height: 35px;
    padding-left: 30px;
    color: var(--color-text-sidebar) !important;
}

::ng-deep .barra-lateral li:nth-of-type(n),::ng-deep  .p-sidebar li:nth-of-type(n) {
    border-top:1px solid var( --color-header) !important;
}
::ng-deep .barra-lateral li:nth-of-type(1),::ng-deep  .p-sidebar li:nth-of-type(1) {
    border-top:none !important;
}

::ng-deep .barra-lateral .p-tieredmenu .p-menuitem .p-menuitem-link:hover {
    background-color: var(--color-sidebar);
}

::ng-deep .p-panelmenu-panel {
    padding-top: 0px;
}

::ng-deep .p-panelmenu-panel .p-menuitem {
    min-height: 32px;
    padding-left: 35px;
    display: flex;
    text-transform: uppercase;
    color: var(--color-text-sidebar) !important;
    background-color: var(--color-submenu-sidebar);
}

::ng-deep .p-panelmenu-panel .p-menuitem .p-menuitem-text {
    color: var(--color-text-sidebar) !important;
}

::ng-deep .p-panelmenu-header {
    margin-left: 22px;
    height: 42px;
    text-transform: uppercase;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: left;
    color: var(--color-text-sidebar) !important;
}

::ng-deep .p-panelmenu-header-link {
    margin-left: 40px;
}

::ng-deep .p-panelmenu-header-link .p-panelmenu-icon {
    order: 1;
    margin-right: 20px;
    margin-top: 20px;
}

::ng-deep .p-panelmenu-header-link .p-menuitem-text {
    flex-grow: 1;
    margin-top: 20px;
}
