<div class="container">
    <div class="grid p-fluid mt-2">
        <div class="col-12">
            <div class="grid">
                <div class="field col-3">
                    <span class="p-float-label p-float-label-static">
                        <input pInputText id="text" [(ngModel)]="value"/>
                        <label htmlFor="text">Input <span class="campo-obligatorio">*</span></label>
                    </span>
                </div>
                <div class="field col-3">
                    <span class="p-float-label p-float-label-static">
                        <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" id="dropdown" [showClear]="true"></p-dropdown>
                        <label for="dropdown">Dropdown</label>
                    </span>
                </div>
                <div class="field col-3">
                    <span class="p-float-label p-float-label-static">     
                        <p-autoComplete [(ngModel)]="selectedCountry" [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" field="name" id="autocomplete" placeholder="Escriba"></p-autoComplete>
                        <label for="autocomplete">Autocomplete</label>
                    </span>
                </div>
                <div class="field col-3">
                    <span class="p-float-label p-float-label-static">
                        <p-multiSelect [options]="cities" [(ngModel)]="selectedCities" optionLabel="name" id="multiselect" [showClear]="true" defaultLabel="Seleccione"></p-multiSelect>
                        <label for="multiselect">Multiselect</label>
                    </span>
                </div>
            </div>
            <div class="grid">
                <div class="field col-3">
                    <span class="p-float-label p-float-label-static">
                        <p-calendar [(ngModel)]="date" id="datepicker"></p-calendar>
                        <label for="datepicker">Datepicker</label>
                    </span>
                </div>
                <div class="field col-3">
                    <span class="p-float-label p-float-label-static">
                        <textarea rows="4" pInputTextarea [(ngModel)]="textA" id="textarea"></textarea>
                        <label for="textarea">Textarea</label>
                    </span>
                </div>
                <div class="field col-3">
                    <p-button label="Button" icon="pi pi-check" styleClass="button-default" class="mr-3" (onClick)="abrirToast()"></p-button>
                    <p-button label="Button" icon="pi pi-check" styleClass="button-default" class="mr-3" [disabled]="true"></p-button>
                    <p-button icon="pi pi-check" styleClass="button-default" (onClick)="abrirModal()"></p-button>
                </div>
                <div class="field col-3">
                    <p-button label="Danger" icon="pi pi-times" styleClass="button-rojo" class="mr-3"></p-button>
                    <p-button label="Danger" icon="pi pi-times" styleClass="button-rojo" class="mr-3" [disabled]="true"></p-button>
                    <p-button icon="pi pi-times" styleClass="button-rojo"></p-button>
                </div>
            </div>
            <div class="grid">
                <div class="col-12">
                    <p-table [value]="products" [(selection)]="productsSelected" [selectionPageOnly]="true" [scrollable]="true" scrollHeight="800px"
                        [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                        currentPageReportTemplate="{first} al {last} de {totalRecords} registros"
                        [rowsPerPageOptions]="[10, 25, 50]">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 40px;">N</th>
                                <th style="width: 40px;">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th pSortableColumn="code">Codigo <p-sortIcon field="code"></p-sortIcon></th>
                                <th>Nombre</th>
                                <th>Categoria</th>
                                <th>Cantidad</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-product let-i="rowIndex">
                            <tr>
                                <td>{{ i + 1 | number:'2.0-0' }}</td>
                                <td>
                                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                                </td>
                                <td>{{ product.code }}</td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.category }}</td>
                                <td>{{ product.quantity }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>