<div class="grid p-fluid mt-1">
    <div class="col-12 pb-0" >

        <div class="grid">
            <div class="field col-4">
                <span class="p-float-label p-float-label-static">
                    <input [disabled]="!puedoEditar"  pInputText id="apellidoPaterno" [(ngModel)]="contacto.apellidoPaterno" maxlength="100" />
                    <label htmlFor="apellidoPaterno">Apellido&nbsp;Paterno <span
                            class="campo-obligatorio">*</span></label>
                </span>
            </div>
            <div class="field col-4">
                <span class="p-float-label p-float-label-static">
                    <input [disabled]="!puedoEditar"  pInputText id="celular1" maxlength="20" [(ngModel)]="contacto.celular1" />
                    <label htmlFor="celular1">Telf.&nbsp;Móvil&nbsp;1</label>
                </span>
            </div>
            <div class="field col-4">
                <span class="p-float-label p-float-label-static">
                    <p-autoComplete  [disabled]="!puedoEditar" id="cliente" [(ngModel)]="cliente" placeholder="Escriba" [pKeyFilter]="regexAutocomplete"
                        [suggestions]="listaClienteAutocomplete" (completeMethod)="filtrarCliente($event.query)"
                        field="texto">
                    </p-autoComplete>
                    <label for="cliente">Cliente <span class="campo-obligatorio">*</span></label>
                </span>
            </div>
        </div>

        <div class="grid">
            <div class="field col-4">
                <span class="p-float-label p-float-label-static">
                    <input  [disabled]="!puedoEditar" id="apellidoMaterno" [(ngModel)]="contacto.apellidoMaterno" pInputText maxlength="100" />
                    <label htmlFor="apellidoMaterno">Ap.&nbsp;Materno</label>
                </span>
            </div>
            <div class="field col-4">
                <span class="p-float-label p-float-label-static">
                    <input  [disabled]="!puedoEditar" id="celular2" [(ngModel)]="contacto.celular2" pInputText maxlength="20" />
                    <label hrmlFor="celular2">Tel.&nbsp;Móvil&nbsp;2</label>
                </span>
            </div>
            <div class="field col-4">
                <span class="p-float-label p-float-label-static">
                    <p-dropdown [disabled]="!puedoEditar"  [options]="listaRed" id="red" optionLabel="nombre" appendTo="body"
                        [autoDisplayFirst]="false" placeholder="Seleccione" [(ngModel)]="contacto.red"></p-dropdown>
                    <label htmlFor="red">Red</label>
                </span>
            </div>
        </div>

        <div class="grid">
            <div class="field col-4">
                <span class="p-float-label p-float-label-static">
                    <input  [disabled]="!puedoEditar" id="nombres" pInputText maxlength="100" [(ngModel)]="contacto.nombres" />
                    <label htmlFor="nombres">Nombres <span class="campo-obligatorio">*</span></label>
                </span>
            </div>
            <div class="field col-4">
                <span class="p-float-label p-float-label-static">
                    <input [disabled]="!puedoEditar"  id="correo1" [(ngModel)]="contacto.correo1" pInputText maxlength="100" />
                    <label htmlFor="correo1">Correo&nbsp;1</label>
                </span>
            </div>
            <div class="field col-4">
                <span class="p-float-label p-float-label-static">
                    <p-autoComplete  [disabled]="!puedoEditar"  id="sede" [(ngModel)]="sede" [suggestions]="listaSedeAutocomplete" [pKeyFilter]="regexAutocomplete"
                    (completeMethod)="filtrarSede($event.query)" field="texto" placeholder="Escriba">
                    </p-autoComplete>
                    <label for="sede">Sede</label>
                </span>
            </div>
        </div>

        <div class="grid">
            <div class="field col-4">
                <span class="p-float-label p-float-label-static">
                    <p-dropdown  [disabled]="!puedoEditar"  id="titulo" optionLabel="nombre" appendTo="body" [autoDisplayFirst]="false"
                        placeholder="Seleccione" [options]="listaTitulo" [(ngModel)]="contacto.titulo"></p-dropdown>
                    <label htmlFor="titulo">Título</label>
                </span>
            </div>
            <div class="field col-4">
                <span class="p-float-label p-float-label-static">
                    <input  [disabled]="!puedoEditar"  id="correo2" [(ngModel)]="contacto.correo2" pInputText maxlength="100" />
                    <label htmlFor="correo2">Correo&nbsp;2</label>
                </span>
            </div>
            <div class="field col-4">
                <span class="p-float-label p-float-label-static">
                    <p-dropdown  [disabled]="!puedoEditar"  id="institucionAdministrativa" [(ngModel)]="contacto.institucionAdministrativa" 
                    [options]="listaInstitucionAdministrativa" optionLabel="nombre" appenTo="body" 
                    [autoDisplayFirst]="false" placeholder="Seleccione">
                    </p-dropdown>
                    <label htmlFor="institucionAdministrativa">Inst.&nbsp;Adm.</label>
                </span>
            </div>
        </div>

        <div class="grid">
            <div class="field col-4">
                <span class="p-float-label p-float-label-static">
                    <p-dropdown id="cargo" optionLabel="nombre" appendTO="body" [autoDisplayFirst]="false"
                        placeholder="Seleccione" [options]="listaCargo" [(ngModel)]="contacto.cargo"  [disabled]="!puedoEditar" >
                    </p-dropdown>
                    <label htmlFor="cargo">Cargo</label>
                </span>
            </div>
            <div class="field col-4">
                <span class="p-float-label p-float-label-static">
                    <input id="telefonoFijo1" pInputText maxlength="20" [(ngModel)]="contacto.telefonoFijo1"  [disabled]="!puedoEditar" />
                    <label htmlFor="telefonoFijo1">Telf.&nbsp;Fijo&nbsp;1&nbsp;x&nbsp;Anexo</label>
                </span>
            </div>
            <div class="field col-4">
                <span class="p-float-label p-float-label-static">
                    <p-dropdown   [disabled]="!puedoEditar"  id="estado" optionLabel="nombre" appendTo="body" [autoDisplayFirst]="false"
                        [(ngModel)]="contacto.estado" [options]="listaEstado">
                    </p-dropdown>
                    <label htmlFor="estado">Estado</label>
                </span>
            </div>
        </div>

        <div class="grid">
            <div class="field col-4">
                <span class="p-float-label p-float-label-static">
                    <p-dropdown id="area" optionLabel="nombre" appendTo="body" [autoDisplayFirst]="false"
                        placeholder="Seleccione" [options]="listaArea" [(ngModel)]="contacto.area"  [disabled]="!puedoEditar" ></p-dropdown>
                    <label htmlFor="area">Área</label>
                </span>
            </div>
            <div class="field col-4">
                <span class="p-float-label p-float-label-static">
                    <input id="telefonoFijo2" pInputText maxlength="20" [(ngModel)]="contacto.telefonoFijo2"  [disabled]="!puedoEditar"  />
                    <label htmlFor="telefonoFijo2">Telf.&nbsp;Fijo&nbsp;2&nbsp;x&nbsp;Anexo</label>
                </span>
            </div>
            <div class="col-4">
                <div class="grid">
                    <div class="field col-6">
                        <span class="p-float-label p-float-label-static">
                            <p-calendar id="fechaUltimaActualizacion" [disabled]="true"
                            [(ngModel)]="fechaUltimaActualizacion"></p-calendar>
                            <label htmlFor="fechaUltimaActualizacion">Fec.&nbsp;Últ.&nbsp;Actl.</label>
                        </span>
                    </div>
                    <div class="field col-6">
                        <span class="p-float-label p-float-label-static">
                            <input id="responsableActualizacion" pInputText maxlength="100" [disabled]="true"
                            [(ngModel)]="usuarioModifica"/>
                            <label htmlFor="responsableActualizacion">Resp.&nbsp;Actl.</label>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid">
            <div class="field col-7"></div>
            <div class="field col-5 flex justify-content-end">
                <span style="--url-icon: url(assets/icons/acciones/cancelar.svg)">
                    <p-button label="Cancelar" icon="pi" styleClass="button-default custom-icon button-rojo"
                        class="mr-3" (onClick)="cerrarModal()"></p-button>
                </span>
                <span style="--url-icon: url(assets/icons/acciones/guardar.svg)">
                    <p-button label="Guardar" icon="pi" styleClass="button-default custom-icon" class="mr-3"
                    (onClick)="guardar()"  [disabled]="!puedoEditar"  ></p-button>
                </span>
            </div>
        </div>

        <div class="grid">
            <div class="col-12">
                <span class="uppercase">
                    <label style="color:var(--color-base-1)"><b>Historial de Observaciones</b></label>
                </span>
            </div>
        </div>

        <div class="grid">
            <div class="col-12 mb-4" style="height: 140px;">
                <p-table #tcont [value]="listaContactoObservacion" [(selection)]="observacionSeleccionado"
                    [selectionPageOnly]="true" [scrollable]="true" scrollHeight="140px"
                     selectionMode="single">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 40px;">N</th>
                            <th style="width: 80px;">Tipo</th>
                            <th style="width: 200px;">Observación</th>
                            <th style="width: 120px;">Fecha</th>
                            <th *ngIf="puedoEditar"  style="width: 40px">
                                <div class="custom-button-table-agregar" (click)="agregar()">+</div>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-obs let-i="rowIndex">
                        <tr>
                            <td class="text-center">{{ i + 1 | number:'2.0-0' }}</td>
                            <td style="max-width: 80px; min-width: 80px;">
                                <span *ngIf="obs.id != 0">{{obs.tipo.nombre}}</span>
                                <span *ngIf="obs.id == 0">
                                    <p-dropdown [options]="listaTipoObservacion" optionLabel="nombre"
                                    appendTo="body" [(ngModel)]="obs.tipo">
                                    </p-dropdown>
                                </span>
                            </td>
                            <td>
                                <span *ngIf="obs.id != 0">{{obs.descripcion}}</span>
                                <span *ngIf="obs.id == 0">
                                    <input pInputText [(ngModel)]="obs.descripcion" maxlength="240"/>
                                </span>
                            </td>
                            <td>
                                <p-calendar [(ngModel)]="obs.fechaCrea" [disabled]="true"
                                ></p-calendar>
                            </td>
                            <td *ngIf="puedoEditar"></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>