/* ESTILOS CHECKBOX */
.p-checkbox {
    border-radius: 50%;
    transition: box-shadow 0.2s;
    width: 18px;
    height: 18px;
}

.p-checkbox .p-checkbox-box {
    border: 1px solid var(--color-border-default);
    background: white;
    width: 18px;
    height: 18px;
    color: var(--color-text-input);
    border-radius: 3px;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s, box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
}

.p-checkbox .p-checkbox-box .p-checkbox-icon {
    transition-duration: 0.2s;
    color: var(--color-text-input);
    font-size: 12px;
    font-weight: 900;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: var(--color-border-hover);
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    border-color: var(--color-border-hover);
    color: var(--color-border-default);
}

p-checkbox .p-checkbox-label {
    flex-grow: 1;
    color: var(--color-text-label);
    /* margin-right: 20px;
    margin-top: 20px; */
}

p-checkbox .p-checkbox {
    order: 1;
    float: right;
    /* margin-top: 20px; */
}