/* ESTILOS RADIOBUTTON */
.p-radiobutton {
    width: 22px;
    height: 33px;
}

.p-radiobutton .p-radiobutton-box {
    border: 0;
    background: white;
    width: 22px;
    height: 22px;
    margin-top: 6px;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

/* .p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
    border-color: var(--color-border-hover);
} */

.p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #BFDBFE;
    /* border-color: var(--color-border-selected); */
}

.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
    width: 12px;
    height: 12px;
    transition-duration: 0.2s;
    background-color: white;
}

.p-radiobutton .p-radiobutton-box.p-highlight {
    border: 0;
    background: #3B82F6;
}

.p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    /* border-color: #1D4ED8; */
    background: #1D4ED8;
    color: white;
}

p-radiobutton ~ label {
    text-transform: uppercase;
    color: var(--color-text-label);
}