/* ESTILOS SPLITBUTTON */
.p-splitbutton {
    box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
    border-radius: 5px;
}

.p-splitbutton .p-button {
    width: 100%;
}

.p-splitbutton .p-splitbutton-defaultbutton {
    border-radius: 5px 0 0 5px;
    border-right: none;
    box-shadow: none;
    text-transform: uppercase;
}

.p-splitbutton .p-splitbutton-menubutton {
    border-radius: 0 5px 5px 0;
    border-left: none;
    box-shadow: none;
    width: 35px;
}

.p-splitbutton .p-splitbutton-defaultbutton > .p-button-icon {
    font-size: 10px;
    font-weight: bold;
    margin-right: 8px;
}

.splitbutton-default .p-splitbutton-menubutton,
.splitbutton-default .p-splitbutton-defaultbutton {
    border: 1px solid var(--color-default);
    background-color: var(--color-default);
    color: var(--color-text-default);
}

.splitbutton-default:hover {
    --color-default: var(--color-hover-default);
}