<div class="container-login">
  
    <div class="container-inner">

        <div class="caja-logo-texto">
            <img src="../../../assets/icons/logo.png" alt="logo" class="logo-login">
            <img src="../../../assets/images/login/login-texto.png" alt="logo" class="logo-texto">
        </div>
        <div class="grid container-input">
            <div class="col-4">
                <app-iniciar-sesion *ngIf="modo == 1" [(modo)]="modo"></app-iniciar-sesion>
                <app-recuperar-usuario *ngIf="modo == 2"></app-recuperar-usuario>
            </div>
        </div>
    </div>
    <div class="trabajador">
    </div>
    <div class="esquina-inf-izq">
    </div>
</div>