:host ::ng-deep .total{
    background-color: #F4F7FF !important;
}

:host ::ng-deep  .p-datatable .p-datatable-tbody > tr:not(.p-highlight):hover {
    background: white !important;
}

:host ::ng-deep .seleccionado{
    background-color: #E8ECF9 !important;
}

:host ::ng-deep .header-subtable{
    background-color: #E1F6FF !important;
}
