<div class="container">
    <div class="grid p-fluid mt-2">
        <div class="col-12">
            <div class="grid">
                <div class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-6" style="--height-table: 355px;">
                    <p-table [value]="listado" styleClass="p-datatable-gridlines" >
                        
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="height: 88px" rowspan="2" colspan="2">Mantenimientos preventivos y garantías a vencer</th>
                                <th colspan="6">Número de equipos</th>
                            </tr>
                            <tr>
                                <th colspan="3">Próximos Mant. Prev.</th>
                                <th colspan="3">Garantías por vencer</th>
                            </tr>
                            <tr>
                                <th style="min-width: 40px;max-width: 40px;">N</th>
                                <th >MES</th>
                                <th style="min-width: 50px;max-width: 50px;">LIMA</th>
                                <th style="min-width: 50px;max-width: 50px;">PROV</th>
                                <th style="min-width: 50px;max-width: 60px;">TOTAL</th>
                                <th style="min-width: 50px;max-width: 50px;">LIMA</th>
                                <th style="min-width: 50px;max-width: 50px;">PROV</th>
                                <th style="min-width: 50px;max-width: 60px;">TOTAL</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-i="rowIndex">
                            <tr *ngIf="i>0">
                                <td  class="text-center" >{{ i + 1 }}</td>
                                <td  >{{ item.mes + ' ' + item.anio}}</td>
                                <td [ngClass]="{'seleccionado': (mes==item.m && anio==item.anio && modo==1 && lima==1)}" class="text-center" (click)="setValores(item.m, item.anio, 1,1)">
                                    {{ item.limaMP?? '' }} 
                                    <sub title="Equipos externos" style="color:var(--color-rojo)">{{ item.limaMPext }}</sub>
                                </td>
                                <td [ngClass]="{'seleccionado': (mes==item.m && anio==item.anio && modo==1 && lima==2)}"  class="text-center" (click)="setValores(item.m, item.anio, 1,2)" >{{ item.provinciaMP }} 
                                    <sub title="Equipos externos" style="color:var(--color-rojo)">{{ item.provinciaMPext }}</sub> 
                                </td>
                                
                                <td   [ngClass]="{'seleccionado': (mes==item.m && anio==item.anio && modo==1 && lima==4)}"  class="text-center" (click)="setValores(item.m, item.anio, 1,4)">{{ item.totalMP }}</td>

                                <td  [ngClass]="{'seleccionado': (mes==item.m && anio==item.anio && modo==2 && lima==1)}" class="text-center" (click)="setValores(item.m, item.anio, 2,1)">{{ item.limaGAR}} 
                                </td>
                                <td  [ngClass]="{'seleccionado': (mes==item.m && anio==item.anio && modo==2 && lima==2)}" class="text-center" (click)="setValores(item.m, item.anio, 2,2)" >{{ item.provinciaGAR}} 
                                </td>
                                <td [ngClass]="{'seleccionado': (mes==item.m && anio==item.anio && modo==2 && lima==4)}" class="text-center" (click)="setValores(item.m, item.anio, 2,4)"  >{{ item.totalGAR}}</td>
                            </tr>
                            <tr *ngIf="i==0" class="total">
                                <td  class="text-center header-subtable" >{{ i + 1 }}</td>
                                <td  class="header-subtable"  >{{ item.mes }}</td>
                                <td  [ngClass]="{'seleccionado': (modo==3 && lima==1), 'header-subtable' : !(modo==3 && lima==1)}" (click)="setValores(mesActual, anioActual, 3,1)" class="text-center" >{{ item.limaMP }} 
                                    <sub title="Equipos externos" style="color:var(--color-rojo)">{{ item.limaMPext }}</sub>
                                </td>
                                <td [ngClass]="{'seleccionado': (modo==3 && lima==2), 'header-subtable' : !(modo==3 && lima==2)}" (click)="setValores(mesActual, anioActual, 3,2)" class="text-center" >{{ item.provinciaMP }} 
                                    <sub title="Equipos externos" style="color:var(--color-rojo)">{{ item.provinciaMPext }}</sub> 
                                </td>
                                <td [ngClass]="{'seleccionado': (modo==3 && lima==4), 'header-subtable' : !(modo==3 && lima==4)}" (click)="setValores(mesActual, anioActual, 3,4)" class="text-center"  class="text-center header-subtable" >{{ item.totalMP }}</td>
                                <td class="text-center header-subtable" >{{ item.limaGAR==-1? '': item.limaGAR}} 
                                    <sub title="Clientes externos" style="color:var(--color-rojo)">{{ item.limaGARext==-1? '': item.limaGARext }}</sub>
                                </td>
                                <td  class="text-center header-subtable" >{{ item.provinciaGAR==-1? '': item.provinciaGAR}} 
                                    <sub title="Clientes externos" style="color:var(--color-rojo)">{{ item.provinciaGAR==-1? '': item.provinciaGAR }}</sub>
                                </td>
                                
                                <td  class="text-center header-subtable" >{{ item.totalGAR==-1? '': item.totalGAR}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-6">
                    <div class="card">
                        <p-tabMenu [scrollable]="true" [model]="items" [activeItem]="activeItem"></p-tabMenu>
                        <div style="background-color: white; padding: 6px; height:  294px;">
                            <p-chart *ngIf="tipoGrafico==1" height="294" type="bar" [data]="dataMP" [options]="options"></p-chart>
                            <p-chart *ngIf="tipoGrafico==2" height="294" type="bar" [data]="dataGAR" [options]="options"></p-chart>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid mb-4 mt-2">
                <div class="col-fixed uppercase" style="width:400px">{{mensaje}}</div>
                <div class="col"><hr class="color-orange"></div>
            </div>

            <div class="grid">
                <div class="field col-12 sm:col-12 md:col-12 lg:col-10 xl:col-8">
                    <div class="grid">
                        <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                            <span class="p-float-label p-float-label-static">
                                <p-multiSelect [options]="listaSubtipo" [(ngModel)]="listaSubtipoSeleccionado"
                                    optionLabel="nombre" id="subtipo" defaultLabel="Todos"
                                    (onChange)="dte.filter(f.multiselectToString($any($event)), 'subtipo', 'equals');mostrarSubSubtipoBySubtipos()"></p-multiSelect>
                                <label for="subtipo">SUBTIPO</label>
                            </span>
                        </div>
                        <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                            <span class="p-float-label p-float-label-static">
                                <input pInputText id="mar"
                                    (input)="dte.filter($any($event.target).value, 'marca', 'equals')" [pKeyFilter]="regexAutocomplete"/>
                                <label for="mar">MARCA</label>
                            </span>
                        </div>
                        <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                            <span class="p-float-label p-float-label-static">
                                <input pInputText id="cliente"
                                    (input)="dte.filter($any($event.target).value, 'cliente', 'equals')" [pKeyFilter]="regexAutocomplete"/>
                                <label for="cliente">CLIENTE</label>
                            </span>
                        </div>
                        <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                            <span class="p-float-label p-float-label-static">
                                <p-multiSelect [options]="listaSubSubtipo"  [(ngModel)]="listaSubSubtipoSeleccionado"
                                    optionLabel="nombre"  defaultLabel="Todos" [disabled]="!(listaSubtipoSeleccionado?.length > 0)"
                                    (onChange)="dte.filter(f.multiselectToString($any($event)), 'subsubtipo', 'equals')"></p-multiSelect>
                                <label >SUBSUBTIPO</label>
                            </span>
                        </div>
                        <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                            <span class="p-float-label p-float-label-static">
                                <input pInputText id="modelo"
                                    (input)="dte.filter($any($event.target).value, 'modelo', 'equals')" [pKeyFilter]="regexAutocomplete"/>
                                <label for="modelo">MODELO</label>
                            </span>
                        </div>
                        <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                            <span class="p-float-label p-float-label-static">
                                <input pInputText id="sed"
                                    (input)="dte.filter($any($event.target).value, 'sede', 'equals')" [pKeyFilter]="regexAutocomplete"/>
                                <label for="sed">SEDE</label>
                            </span>
                        </div>
                        
                        <!-- tercera fila -->
                    </div>
                </div>

                <div class="field col-12 sm:col-12 md:col-12 lg:col-2 xl:col-4">
                    <div class="flex flex-column">
                        <div class="flex justify-content-end flex-wrap">
                        
                            <div style="--url-icon: url(assets/icons/acciones/agregar.svg)"  class="mb-2 ml-2">
                                <p-button label="Ticket" icon="pi" styleClass="button-default custom-icon" [disabled]="!(listadoDetalleSeleccionado?.length>0) || !authService.blnAdmin"
                                (onClick)="nuevoTicket()"></p-button>
                            </div>
                            <div style="--url-icon: url(assets/icons/acciones/exportar.svg)" class="mb-2 ml-2">
                                <p-button label="Exportar" icon="pi" styleClass="button-default custom-icon"
                                (onClick)="exportarListaMantenimientoPreventivoEquipos()"></p-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="grid">
                <div class="col-12" style="--height-table: auto">
                    <p-table #dte [value]="listadoDetalle" [selectionPageOnly]="true" [scrollable]="true"
                        [lazy]="true" (onLazyLoad)="listar($event)" [(selection)]="listadoDetalleSeleccionado">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 40px;">N</th>
                                <th style="width: 40px;">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th style="width: 150px;" > SUBTIPO / SUBSUBTIPO </th>
                                <th style="width: 120px;">MARCA / MODELO</th>
                                <th style="width: 100px;">NRO SERIE</th>
                                <th style="width: 100px;">DPTO</th>
                                <th style="width: 210px;">CLIENTE / SEDE</th>
                                <th style="width: 45px;">T. EQUIPO</th>
                                <th style="width: 96px;">PROX. M. PREVENTIVO</th>
                                <th style="width: 96px;">VCTO GARANTIA</th>
                                <th style="width: 96px;">TKT</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-equipos let-i="rowIndex">
                            <tr>
                                <td class="text-center">{{ i + 1 | number:'2.0-0' }}</td>
                                <td class="text-center">
                                    <p-tableCheckbox [value]="equipos"
                                        [disabled]="equipos.estadoId == 0"></p-tableCheckbox>
                                </td>
                                <td >
                                    <div [title]="equipos.subtipo" class="ellipsis-linea">{{ equipos.subtipo }}</div>
                                    <div [title]="equipos.subSubtipo"  style="color: var(--color-text-subtable);" class="ellipsis-linea">{{ equipos.subSubtipo }}</div>
                                </td>
                                <td >
                                    <div [title]="equipos.marca" class="ellipsis-linea">{{ equipos.marca }}</div>
                                    <div [title]="equipos.modelo" style="color: var(--color-text-subtable);" class="ellipsis-linea">{{ equipos.modelo }}</div>
                                </td>
                                <td [title]="equipos.serie"> {{ equipos.serie }}</td>
                                <td [title]="equipos.departamento"> {{ equipos.departamento }}</td>
                                <td >
                                    <div [title]="equipos.cliente" class="ellipsis-linea">{{ equipos.cliente }}</div>
                                    <div [title]="equipos.sede" style="color: var(--color-text-subtable);" class="ellipsis-linea ">{{ equipos.sede }}</div>
                                </td>
                                <td class="text-center">{{ equipos.tipoCliente }}</td>
                                <td  class="text-center">
                                    <div *ngIf="equipos.proximoMantenimiento != '1900-01-01'" [title]="equipos.proximoMantenimiento | date:'MMM yyyy'">{{ equipos.proximoMantenimiento | date:'MMM yyyy' }}</div>
                                </td>
                                <td  class="text-center">
                                    <div *ngIf="equipos.fechaFinGarantia != '1900-01-01'" [title]="equipos.fechaFinGarantia | date:'dd MMM yyyy'">{{ equipos.fechaFinGarantia | date:'dd MMM yyyy' }}</div>
                                </td> 
                                <td class="text-center">{{ equipos.estadoTicketN }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>
