

  
  
  

.foto1{
    background-color: transparent;
    height:280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width:250px;
    padding: 0px;
    float:left;
}

.todo100{
    background-color: lightgray;
    height:250px;
    margin-left: auto;
    margin-right: auto;
    width:100%; 
    float:right;
    padding: 10px;
}
.mapa{
    background-color: transparent;
    height:180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width:250px;
    padding: 5px;
}








.search-bar-container {
    display: flex;
    align-items: center;
    background-color: #2b2727;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar-input {
    border: none;
    flex: 1;
    padding: 8px;
    font-size: 16px;
  }
  
  .search-bar-input:focus {
    outline: none;
  }
  
  .search-bar-button {
    background-color: #4285f4;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 8px;
  }
  
  .search-bar-button:hover {
    background-color: #3367d6;
  }
  









  .rating {
    display: inline-block;
  }
  
  .rating input {
    display: none;
  }
  
  .rating label {
    float: right;
    cursor: pointer;
    color: #bbb;
  }
  
  .rating label:before {
    content: '\2605'; /* Código unicode para el símbolo de estrella */
    font-size: 24px;
  }
  
  .rating input:checked ~ label {
    color: #ffcc00; /* Color para las estrellas seleccionadas */
  }















  .image-container {
    position: relative;
    display: inline-block; /* Establece el contenedor como un elemento en línea */
    width: 230px; /* Establece el ancho deseado del contenedor */
    height: 200px; /* Establece la altura deseada del contenedor */
    margin-right: 40px; /* Establece un margen derecho para separar los contenedores */
  }
  
  .favorite-icon {
    position: absolute;
    top: 8px;
    left: 8px;
    color:black;
  }
  
  .image {
    display: block;
    width: 100%;
    height: 100%;
  }
  .favorite-icon-selected .p-button-icon {
    color: blue ;
  }
  
    
  
  












  .social-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .facebook-button {
    background-color: #3b5998;
    color: #fff;
  }
  
  .twitter-button {
    background-color: #1da1f2;
    color: #fff;
  }
  
  .instagram-button {
    background-color: #e4405f;
    color: #fff;
  }
  
  .linkedin-button {
    background-color: #0077b5;
    color: #fff;
  }
  
  .p-button {
    margin-right: 10px;
    border-color: transparent;
  }
  
  .p-button:hover {
    opacity: 0.8;
  }
  
  
  