<div class="container">
    <div class="grid p-fluid mt-2">
        <div class="col-12">
            <div class="grid">
                <div class="col-10">
                    <div class="grid">
                        <div class="field col-3">
                            <span class="p-float-label p-float-label-static">
                                <!-- <input pInputText id="apellidos" (input)="dtp.filter($any($event.target).value, 'apellidos', 'equals')" [pKeyFilter]="regexAutocomplete"/> -->
                                <label htmlFor="apellidos">Apellidos</label>
                            </span>
                        </div>
                        <div class="field col-3">
                            <span class="p-float-label p-float-label-static">
                                <!-- <p-multiSelect [options]="listaArea" [(ngModel)]="areasSeleccionadas"
                                    optionLabel="nombre" id="area" defaultLabel="Todos"
                                    (onChange)="dtp.filter(f.multiselectAuxiliarToString($any($event)), 'areas', 'equals')"></p-multiSelect> -->
                                <label for="area">Área</label>
                            </span>
                        </div>
                        <div class="field col-3">
                            <span class="p-float-label p-float-label-static">
                                <!-- <p-multiSelect [options]="listaTipoPersonal" [(ngModel)]="tiposPersonalSeleccionados"
                                    optionLabel="nombre" id="tpersonal" defaultLabel="Todos"
                                    (onChange)="dtp.filter(f.multiselectAuxiliarToString($any($event)), 'tipoPersonal', 'equals')"></p-multiSelect> -->
                                <label for="tpersonal">Tipo Personal</label>
                            </span>
                        </div>
                        <div class="field col-3"></div>
                    </div>
                    <div class="grid">
                        <div class="field col-3">
                            <span class="p-float-label p-float-label-static">
                                <!-- <input pInputText id="nombres" (input)="dtp.filter($any($event.target).value, 'nombres', 'equals')" [pKeyFilter]="regexAutocomplete"/> -->
                                <label htmlFor="nombres">Nombres</label>
                            </span>
                        </div>
                        <div class="field col-3">
                            <span class="p-float-label p-float-label-static">
                                <!-- <p-multiSelect [options]="listaEstado" [(ngModel)]="estadosSeleccionados"
                                    optionLabel="nombre" id="estado" defaultLabel="Todos"
                                    (onChange)="dtp.filter(f.multiselectAuxiliarToString($any($event)), 'estado', 'equals')"></p-multiSelect> -->
                                <label for="estado">Estado</label>
                            </span>
                        </div>
                        <div class="field col-3"></div>
                        <div class="field col-3"></div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="grid">
                        <div class="field col-12 flex justify-content-end">
                            <div *ngIf="false" style="--url-icon: url(assets/icons/acciones/enviar_mail.svg)">
                                <!-- <p-button label="Enviar" icon="pi" styleClass="button-default custom-icon" class="mr-3" [disabled]="true"></p-button> -->
                            </div>
                            <div style="--url-icon: url(assets/icons/acciones/agregar.svg)">
                                <!-- <p-button label="Nuevo" icon="pi" styleClass="button-default custom-icon" (onClick)="abrirDetalle(0)" [disabled]="blnOcupado || !authService.blnAdmin"></p-button> -->
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="field col-12 flex justify-content-end">
                            <div style="--url-icon: url(assets/icons/acciones/cancelar.svg)">
                                <!-- <p-button label="Inactivar" icon="pi" styleClass="button-rojo custom-icon" (onClick)="desahibilitarPersonalMasivo()" [disabled]="blnOcupado || !authService.blnAdmin"></p-button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col-12" style="--height-table: calc(100vh - 166px);">
                    <!-- <p-table #dtp [value]="listaPersonal" [(selection)]="personalSeleccionado" [selectionPageOnly]="true" [scrollable]="true"
                        [lazy]="true" (onLazyLoad)="listar($event)" [tableStyle]="{ 'min-width': '1500px' }" sortField="" [sortOrder]="0">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 40px;">N</th>
                                <th style="width: 40px;">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th style="min-width: 150px;" pSortableColumn="apellidos">Apellidos y Nombres <p-sortIcon field="apellidos"></p-sortIcon></th>
                                <th style="width: 120px;">Título</th>
                                <th style="width: 120px;">Cargo / Área</th>
                                <th style="width: 60px;">Tipo</th>
                                <th style="width: 120px;">Telef. Móvil</th>
                                <th style="width: 60px;">Anexo</th>
                                <th style="width: 220px;">Correos</th>
                                <th style="width: 48px;" class="fondo-disabled">
                                    <img src="assets/icons/acciones/enviar_mail.svg" alt="mail" class="icono-table-header">
                                </th>
                                <th style="width: 48px;" class="fondo-disabled">          
                                    <img src="assets/icons/acciones/enviar_llamada.svg" alt="mail" class="icono-table-header">
                                </th>
                                <th style="width: 48px;" class="fondo-disabled">               
                                    <img src="assets/icons/acciones/enviar_whatsapp.svg" alt="mail" class="icono-table-header">
                                </th>
                                <th style="width: 48px;" class="fondo-disabled">
                                    <img src="assets/icons/acciones/enviar_sms.svg" alt="mail" class="icono-table-header">
                                </th>
                                <th style="width: 48px;" class="fondo-disabled">
                                    <img src="assets/icons/acciones/enviar_callbox.svg" alt="mail" class="icono-table-header">
                                </th>
                                <th style="width: 80px;">Estado</th>
                                <th style="width: 100px;">Ult. Permiso</th>
                                <th style="width: 60px;">Foto</th>
                                <th style="width: 60px;">Firma</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-personal let-i="rowIndex">
                            <tr (dblclick)="abrirDetalle(personal.id)">
                                <td class="text-center">{{ i + 1 | number:'2.0-0' }}</td>
                                <td class="text-center">
                                    <p-tableCheckbox [value]="personal" [disabled]="personal.estadoId == 0"></p-tableCheckbox>
                                </td>
                                <td >
                                    <div [title]="personal.apellidos" class="ellipsis-linea">{{ personal.apellidos }}</div>
                                    <div [title]="personal.nombres"  style="color: var(--color-text-subtable);" class="ellipsis-linea">{{ personal.nombres }}</div>
                                </td>
                                <td>{{ personal.tituloNombre }}</td>
                                <td >
                                    <div [title]="personal.cargoNombre" class="ellipsis-linea">{{ personal.cargoNombre }}</div>
                                    <div [title]="personal.areaNombre"  style="color: var(--color-text-subtable);" class="ellipsis-linea">{{ personal.areaNombre }}</div>
                                </td>
                                <td class="text-center" [title]="personal.tipoNombre">{{ personal.tipoAbreviatura }}</td>
                                <td>
                                    <p-inputMask mask="999-999-999" [(ngModel)]="personal.celular1" styleClass="mask-table" [disabled]="true"></p-inputMask>
                                    <br>
                                    <p-inputMask mask="999-999-999" [(ngModel)]="personal.celular2" styleClass="mask-table" [disabled]="true"></p-inputMask>
                                </td>
                                <td class="text-center">{{ personal.anexo }}</td>
                                <td>{{ personal.correo1 }}<br>{{ personal.correo2 }}</td>
                                <td class="text-center">
                                    <p-checkbox [binary]="true" [disabled]="true"></p-checkbox>
                                </td>
                                <td class="text-center">
                                    <p-checkbox [binary]="true" [disabled]="true"></p-checkbox>
                                </td>
                                <td class="text-center">
                                    <p-checkbox [binary]="true" [disabled]="true"></p-checkbox>
                                </td>
                                <td class="text-center">
                                    <p-checkbox [binary]="true" [disabled]="true"></p-checkbox>
                                </td>
                                <td class="text-center">
                                    <p-checkbox [binary]="true" [disabled]="true"></p-checkbox>
                                </td>
                                <td class="text-center">{{ personal.estadoNombre }}</td>
                                <td class="text-center">
                                    <div >{{ personal.permisoInicio | date: 'dd MMM yyyy' }}</div>
                                    <div >{{ personal.permisoFin | date: 'dd MMM yyyy' }}</div>
                                </td>
                                <td class="text-center">{{ personal.foto }}</td>
                                <td class="text-center">{{ personal.firma }}</td>
                            </tr>
                        </ng-template>
                    </p-table> -->
                </div>
            </div>
        </div>
    </div>
</div>