.container-inner {
    margin: auto;
    position: absolute;
    top: 51%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 90%;
    width: 90%;
    background-image: url('../../../assets/images/login/background-2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.trabajador {
    margin: 0;
    position: absolute;
    right: 0;
    height: 100%;
    width: 55%;
    background-image: url('../../../assets/images/login/trabajador.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.caja-logo-texto {  
    padding-top: 5%;
    padding-bottom: 2%;
    padding-left: 8%;
}

.esquina-inf-izq {
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 33%;
    width: 11%;
    background-image: url('../../../assets/images/login/esquina-inf-izq.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container-input {
    padding-left: 100px;
    padding-right: 100px;
}

.logo-login {
    margin-right: auto;
    margin-left: auto;
}

.logo-texto {
    margin-right: auto;
    margin-left: auto;
    height: 80px;
}

::ng-deep .span-login {
    color: white;
    font-size: 1.8vh;
    font-weight: 400;
    text-transform: uppercase;
}

::ng-deep .icono-login {
    position: relative;
    top: 3px;
    margin-right: 8px;
    height: 2.5vh;
    width: 2.5vh;
    stroke: white;
    stroke-width: 10;
}

::ng-deep .input-login.p-inputtext,
::ng-deep .p-password-input {
    height: auto;
    border-radius: 10px;
    font-size: 1.8vh !important;
    margin-top: 10px;
}

::ng-deep p-password {
    display: flex;
}

::ng-deep .p-password,
::ng-deep .p-password .p-inputtext {
    width: 100%;
}

::ng-deep .hr-login {
    border-color: white;
    margin-top: 15px;
}

::ng-deep .button-login {
    box-shadow: none;
    background-color: var(--color-button-login);
    border: 1px solid var(--color-button-login);
    border-radius: 25px;
    height: 6vh;
    width: 20vw;
}

::ng-deep .button-login span {
    font-weight: 700;
    font-size: 2.5vh;
}

::ng-deep p-checkbox.checkbox-login .p-checkbox-label {
    flex-grow: 0;
    color: white;
    font-size: 1.9vh;
    font-weight: 300;
}

::ng-deep p-checkbox.checkbox-login .p-checkbox {
    order: 0;
    margin-right: 10px;
}