.svg-container {
    height: 92vh;
}

svg {
    width: 95%;
    height: 95%;
}

.land {
    fill: #9FB0D9;
    stroke: white;
    stroke-miterlimit: 10;
    stroke-width: 1px;
    cursor: pointer;
}

.land-use {
    fill: #4EBFB1;
    stroke: white;
    stroke-miterlimit: 10;
    stroke-width: 1px;
    cursor: pointer;
}

.land-clicked {
    fill: #2b7a71;
    stroke: white;
    stroke-miterlimit: 10;
    stroke-width: 1px;
    cursor: pointer;
}

.land:hover {
    fill: #5c6883;
}

.land-use:hover {
    fill: #2b7a71;
}