<div class="container">
    <div class="grid p-fluid mt-2">
        <div class="col-12">
            <div class="grid">
                <div class="col"></div>
                <div class="col-8">
                    <div class="grid">
                        <div class="col-6">
                            <div class="grid">
                                <div class="field col-12">
                                    <span class="p-float-label p-float-label-static">
                                        <input pInputText id="apPaterno" [(ngModel)]="personal.apellidoPaterno" [maxLength]="100"/>
                                        <label htmlFor="apPaterno">Apellido Paterno <span class="campo-obligatorio">*</span></label>
                                    </span>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="field col-12">
                                    <span class="p-float-label p-float-label-static">
                                        <input pInputText id="apMaterno" [(ngModel)]="personal.apellidoMaterno" [maxLength]="100"/>
                                        <label htmlFor="apMaterno">Apellido Materno <span class="campo-obligatorio">*</span></label>
                                    </span>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="field col-12">
                                    <span class="p-float-label p-float-label-static">
                                        <input pInputText id="nombre" [(ngModel)]="personal.nombres" [maxLength]="100"/>
                                        <label htmlFor="nombre">Nombres <span class="campo-obligatorio">*</span></label>
                                    </span>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="field col-6">
                                    <span class="p-float-label p-float-label-static">
                                        <p-dropdown [options]="listaTipoDocumento" [(ngModel)]="personal.tipoDocumento" optionLabel="abreviatura" id="tDoc"
                                            [autoDisplayFirst]="false" placeholder="Seleccione" appendTo="body"></p-dropdown>
                                        <label for="tDoc">Tipo Documento</label>
                                    </span>
                                </div>
                                <div class="field col-6">
                                    <span class="p-float-label p-float-label-static">
                                        <input pInputText id="nroDoc" [(ngModel)]="personal.nroDocumento" [maxLength]="20"/>
                                        <label htmlFor="nroDoc">Nro Documento</label>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="grid">
                                <div class="field col-6">
                                    <span class="p-float-label p-float-label-static">
                                        <p-dropdown [options]="listaTitulo" [(ngModel)]="personal.titulo" optionLabel="nombre" id="titulo"
                                            [autoDisplayFirst]="false" placeholder="Seleccione" appendTo="body"></p-dropdown>
                                        <label for="titulo">Título</label>
                                    </span>
                                </div>
                                <div class="field col-6">
                                    <span class="p-float-label p-float-label-static">
                                        <input pInputText id="tMovil1" [(ngModel)]="personal.nombreCorto" [maxLength]="40"/>
                                        <label htmlFor="tMovil1">Nombre Corto</label>
                                    </span>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="field col-6">
                                    <span class="p-float-label p-float-label-static">
                                        <input pInputText id="tMovil1" [(ngModel)]="personal.celular1" [maxLength]="9"/>
                                        <label htmlFor="tMovil1">Teléf Móvil 1</label>
                                    </span>
                                </div>
                                <div class="field col-6">
                                    <span class="p-float-label p-float-label-static">
                                        <input pInputText id="tMovil2" [(ngModel)]="personal.celular2" [maxLength]="9"/>
                                        <label htmlFor="tMovil2">Teléf Móvil 2</label>
                                    </span>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="field col-12">
                                    <span class="p-float-label p-float-label-static">
                                        <input pInputText id="correo1" [(ngModel)]="personal.correo1" [maxLength]="60"/>
                                        <label htmlFor="correo1">Correo 1</label>
                                    </span>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="field col-12">
                                    <span class="p-float-label p-float-label-static">
                                        <input pInputText id="correo2" [(ngModel)]="personal.correo2" [maxLength]="60"/>
                                        <label htmlFor="correo2">Correo 2</label>
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="grid">
                        <div class="col-12 pb-0 flex justify-content-end">
                            <div style="--url-icon: url(assets/icons/acciones/guardar.svg)">
                                <p-button label="Guardar" icon="pi" styleClass="button-default custom-icon" (onClick)="actualizar()"></p-button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</div>