:host ::ng-deep .circle-button{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border-width: medium;
    background-color: #FBEFBF ;
    border: 3px solid white;
    color: var(--color-default);
    font-weight: 800;
    justify-content: center;
    cursor: auto !important;
}

:host ::ng-deep .wrapping-label{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-transform: uppercase;
    font-size: 15px;
    z-index: 10;
    white-space: nowrap;
}

:host ::ng-deep .big-label{
    font-size: 25px;
    font-weight: 800;
    color: var(--color-sidebar);
    text-transform: uppercase;
    
}

:host ::ng-deep .sub-label{
    font-size: 15px;
    font-weight: 800;
    color: var( --color-text-input);
    text-transform: uppercase;
}


:host ::ng-deep .cursor{
    cursor: pointer !important;
}


:host ::ng-deep .mapa{
    height: 90%;
    position: absolute;
    top: 0;
    left: -80px;
    overflow: hidden;
    z-index: 0;
}
:host ::ng-deep .header-subtable{
    background-color: var(--color-rojo) !important;
}

:host ::ng-deep .body-subtable{
    background-color: #FFDEE6!important;
}

.titulo{
    color: var(--color-sidebar);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;

}

.subtitulo{
    color: var(--color-default);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 800;
}