<div class="container">
    <div class="grid p-fluid mt-2">
        <div class="col-12">
            <div class="grid">
                <div class="field col-12 sm:col-12 md:col-10 lg:col-10 xl:col-8">
                    <div class="grid">
                        <div class="field col-12 sm:col-6 md:col-6 lg:col-4 xl:col-4">
                            <span class="p-float-label p-float-label-static">
                                <input pInputText id="parte"
                                    (input)="dte.filter($any($event.target).value, 'nroParte', 'equals')" [pKeyFilter]="regexAutocomplete"/>
                                <label for="mar">NRO PARTE</label>
                            </span>
                        </div>
                        <div class="field col-12 sm:col-6 md:col-6 lg:col-4 xl:col-4">
                            <span class="p-float-label p-float-label-static">
                                <p-multiSelect [options]="listaSubtipo" [(ngModel)]="listaSubtipoSeleccionado"
                                    optionLabel="nombre" id="subtipo" defaultLabel="Todos"
                                    (onChange)="dte.filter(f.multiselectToString($any($event)), 'subtipo', 'equals');mostrarSubSubtipoBySubtipos()"></p-multiSelect>
                                <label for="subtipo">SUBTIPO</label>
                            </span>
                        </div>
                        <div class="field col-12 sm:col-6 md:col-6 lg:col-4 xl:col-4">
                            <span class="p-float-label p-float-label-static">
                                <input pInputText id="mar"
                                    (input)="dte.filter($any($event.target).value, 'marca', 'equals')" [pKeyFilter]="regexAutocomplete"/>
                                <label for="mar">MARCA</label>
                            </span>
                        </div>
                        <div class="field col-12 sm:col-6 md:col-6 lg:col-4 xl:col-4">
                            <span class="p-float-label p-float-label-static">
                                <input pInputText id="nom"
                                    (input)="dte.filter($any($event.target).value, 'nombre', 'equals')" [pKeyFilter]="regexAutocomplete"/>
                                <label for="mar">NOMBRE</label>
                            </span>
                        </div>
                        <div class="field col-12 sm:col-6 md:col-6 lg:col-4 xl:col-4">
                            <span class="p-float-label p-float-label-static">
                                <p-multiSelect [options]="listaSubSubtipo"  [(ngModel)]="listaSubSubtipoSeleccionado"
                                    optionLabel="nombre"  defaultLabel="Todos" [disabled]="!(listaSubtipoSeleccionado?.length > 0)"
                                    (onChange)="dte.filter(f.multiselectToString($any($event)), 'subsubtipo', 'equals')"></p-multiSelect>
                                <label >SUBSUBTIPO</label>
                            </span>
                        </div>
                        <div class="field col-12 sm:col-6 md:col-6 lg:col-4 xl:col-4">
                            <span class="p-float-label p-float-label-static">
                                <input pInputText id="modelo"
                                    (input)="dte.filter($any($event.target).value, 'modelo', 'equals')" [pKeyFilter]="regexAutocomplete"/>
                                <label for="modelo">MODELO</label>
                            </span>
                        </div>
                        
                        <!-- tercera fila -->
                    </div>
                </div>

                <div class="field col-12 sm:col-12 md:col-2 lg:col-2 xl:col-4">
                    <div class="flex flex-column">
                        <div class="flex justify-content-end flex-wrap">
                            <div *ngIf="false" style="--url-icon: url(assets/icons/acciones/enviar_mail.svg)" class="mb-5 ml-2">
                                <p-button label="Enviar" icon="pi" styleClass="button-default custom-icon" [disabled]="true"></p-button>
                            </div>
                            <div style="--url-icon: url(assets/icons/acciones/exportar.svg)" class="mb-2 ml-3">
                                <p-button label="Exportar" icon="pi" styleClass="button-default custom-icon" 
                                (onClick)="exportarListaConsumoAccesorio()"></p-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <pre>{{listado | json}}</pre> -->
            <div class="grid">
                <div class="col-12" style="--height-table: calc(100vh - 226px);">
                    <p-table #dte [value]="listado" [lazy]="true" (onLazyLoad)="listar($event)"
                    [selectionPageOnly]="true" [scrollable]="true" [paginator]="true"
                    [rows]="20" [showCurrentPageReport]="true" [totalRecords]="totalRegistros"
                    currentPageReportTemplate="{first} al {last} de {totalRecords} registros"
                    [rowsPerPageOptions]="[20, 25, 50]" selectionMode="single" [ngStyle]="{'min-width':'1100px'}"
                    [(selection)]="listadoSeleccionado">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 40px;">N</th>
                                
                                <th style="width: 120px;">NRO PARTE</th>
                                <th style="min-width: 110px;">NOMBRE</th>
                                <th style="width: 50px;">FOTO</th>
                                <th style="width: 50px;">OBS</th>
                                <th style="min-width: 110px;" > SUBTIPO / SUBSUBTIPO </th>
                                <th style="min-width: 100px;">MARCA / MODELO</th>
                                <th class="text-center header-subtable" style="width: 70px;">PAS</th>
                                <th style="width: 70px;" *ngFor="let item of keysHeader">{{item}}</th>
                            </tr>
                        </ng-template>
                        
                        <ng-template pTemplate="body" let-accesorio let-i="rowIndex">
                            <tr>
                                <td class="text-center">{{ i + 1 | number:'2.0-0' }}</td>
                                
                                <td>
                                    <div [title]="accesorio.nroParte" class="ellipsis-linea">{{ accesorio.nroParte }}</div>
                                </td>
                                <td>
                                    <div [title]="accesorio.descripcion" class="ellipsis-linea">{{ accesorio.descripcion }}</div>
                                </td>
                                <td  class="text-center">
                                    {{accesorio.foto?.length > 0 ? 'SI':'NO'}}
                                </td>
                                <td >
                                    <div class="text-center">
                                        <a href="javascript:void(0)" class="pe-auto mb-0" (click)="abrirModalObservaciones(accesorio.obs)">{{accesorio.obs.length >0? accesorio.obs.length :''}}</a>
                                    </div>
                                </td>
                                
                                <td >
                                    <div [title]="accesorio.subtipo" class="ellipsis-linea">{{ accesorio.subtipo }}</div>
                                    <div [title]="accesorio.subSubtipo"  style="color: var(--color-text-subtable);" class="ellipsis-linea">{{ accesorio.subSubtipo }}</div>
                                </td>
                                <td >
                                    <div [title]="accesorio.marca" class="ellipsis-linea">{{ accesorio.marca }}</div>
                                    <div [title]="accesorio.modelo" style="color: var(--color-text-subtable);" class="ellipsis-linea">{{ accesorio.modelo }}</div>
                                </td>
                                <td class="text-center body-subtable">{{accesorio.pasado}}</td>
                                <td class="text-center" *ngFor="let item of keysHeader">
                                    {{accesorio[item.replace(' ','_')]}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>