<div class="grid p-fluid mt-1" *ngIf="personal">
    <div class="col-12 pb-0">
        <div class="grid">
            <div class="col-4">
                <div class="grid">
                    <div class="field col-12">
                        <span class="p-float-label p-float-label-static">
                            <!-- <input [disabled]="!authService.blnAdmin"  pInputText id="apPaterno" [(ngModel)]="personal.apellidoPaterno" maxlength="100"/> -->
                            <label htmlFor="apPaterno">Apellido Paterno <span class="campo-obligatorio">*</span></label>
                        </span>
                    </div>
                </div>
                <div class="grid">
                    <div class="field col-12">
                        <span class="p-float-label p-float-label-static">
                            <!-- <input  [disabled]="!authService.blnAdmin"  pInputText id="apMaterno" [(ngModel)]="personal.apellidoMaterno" maxlength="100"/> -->
                            <label htmlFor="apMaterno">Apellido Materno <span class="campo-obligatorio">*</span></label>
                        </span>
                    </div>
                </div>
                <div class="grid">
                    <div class="field col-12">
                        <span class="p-float-label p-float-label-static">
                            <!-- <input  [disabled]="!authService.blnAdmin" pInputText id="nombre" [(ngModel)]="personal.nombres" maxlength="100"/> -->
                            <label htmlFor="nombre">Nombres <span class="campo-obligatorio">*</span></label>
                        </span>
                    </div>
                </div>
                <div class="grid">
                    <div class="field col-12">
                        <span class="p-float-label p-float-label-static">
                            <!-- <input [disabled]="!authService.blnAdmin"  pInputText id="nombreC" [(ngModel)]="personal.nombreCorto" maxlength="40"/> -->
                            <label htmlFor="nombreC">Nombre Corto</label>
                        </span>
                    </div>
                </div>
                <div class="grid">
                    <div class="field col-6">
                        <span class="p-float-label p-float-label-static">
                            <!-- <p-dropdown  [disabled]="!authService.blnAdmin"  [options]="listaTitulo" [(ngModel)]="personal.titulo" optionLabel="nombre" id="titulo"
                                [autoDisplayFirst]="false" placeholder="Seleccione" appendTo="body"></p-dropdown> -->
                            <label for="titulo">Título</label>
                        </span>
                    </div>
                    <div class="field col-6">
                        <span class="p-float-label p-float-label-static">
                            <!-- <p-dropdown  [disabled]="!authService.blnAdmin"  [options]="listaArea" [(ngModel)]="personal.area" optionLabel="nombre" id="area"
                                [autoDisplayFirst]="false" placeholder="Seleccione" appendTo="body"></p-dropdown> -->
                            <label for="area">Área</label>
                        </span>
                    </div>
                </div>
                <div class="grid">
                    <div class="field col-6">
                        <span class="p-float-label p-float-label-static">
                            <!-- <p-dropdown  [disabled]="!authService.blnAdmin"  [options]="listaCargo" [(ngModel)]="personal.cargo" optionLabel="nombre" id="cargo"
                                [autoDisplayFirst]="false" placeholder="Seleccione" appendTo="body"></p-dropdown> -->
                            <label for="cargo">Cargo</label>
                        </span>
                    </div>
                    <div class="field col-6">
                        <span class="p-float-label p-float-label-static">
                            <!-- <p-dropdown  [disabled]="!authService.blnAdmin"  [options]="listaTipoPersonal" [(ngModel)]="personal.tipo" optionLabel="nombre" id="tipo"
                                [autoDisplayFirst]="false" placeholder="Seleccione" appendTo="body"></p-dropdown> -->
                            <label for="tipo">Tipo</label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="grid">
                    <div class="field col-6">
                        <span class="p-float-label p-float-label-static">
                            <!-- <p-dropdown  [disabled]="!authService.blnAdmin"  [options]="listaTipoDocumento" [(ngModel)]="personal.tipoDocumento" optionLabel="abreviatura" id="tDoc"
                                [autoDisplayFirst]="false" placeholder="Seleccione" appendTo="body"></p-dropdown> -->
                            <label for="tDoc">Tipo Documento</label>
                        </span>
                    </div>
                    <div class="field col-6">
                        <span class="p-float-label p-float-label-static">
                            <!-- <input  [disabled]="!authService.blnAdmin"  pInputText id="nroDoc" [(ngModel)]="personal.nroDocumento" maxlength="20"/> -->
                            <label htmlFor="nroDoc">Nro Documento</label>
                        </span>
                    </div>
                </div>
                <div class="grid">
                    <div class="field col-6">
                        <span class="p-float-label p-float-label-static">
                            <!-- <input   [disabled]="!authService.blnAdmin"  pInputText id="tMovil1" [(ngModel)]="personal.celular1" maxlength="20"/> -->
                            <label htmlFor="tMovil1">Teléf Móvil 1</label>
                        </span>
                    </div>
                    <div class="field col-6">
                        <span class="p-float-label p-float-label-static">
                            <!-- <input  [disabled]="!authService.blnAdmin"  pInputText id="tMovil2" [(ngModel)]="personal.celular2" maxlength="20"/> -->
                            <label htmlFor="tMovil2">Teléf Móvil 2</label>
                        </span>
                    </div>
                </div>
                <div class="grid">
                    <div class="field flex col-12">
                        <span class="p-float-label p-float-label-static w-full">
                            <!-- <input  [disabled]="!authService.blnAdmin"  pInputText id="correo1" [(ngModel)]="personal.correo1" maxlength="60"/> -->
                            <label htmlFor="correo1">Correo 1</label>
                        </span>
                        <div style="--url-icon: url(assets/icons/acciones/enviar_mail.svg)">
                            <!-- <p-button icon="pi" styleClass="button-default custom-icon" class="ml-3"
                            (onClick)="enviarMensaje()"></p-button> -->
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="field flex col-12">
                        <span class="p-float-label p-float-label-static w-full">
                            <!-- <input [disabled]="!authService.blnAdmin"  pInputText id="correo2" [(ngModel)]="personal.correo2" maxlength="60"/> -->
                            <label htmlFor="correo2">Correo 2</label>
                        </span>
                    </div>
                </div>
                <div class="grid">
                    <div class="field col-6">
                        <span class="p-float-label p-float-label-static">
                            <!-- <input  [disabled]="!authService.blnAdmin" pInputText id="anexo" [(ngModel)]="personal.anexo" maxlength="20"/> -->
                            <label htmlFor="anexo">Anexo</label>
                        </span>
                    </div>
                    <div class="field col-6">
                        <!-- <p-radioButton [disabled]="!authService.blnAdmin" name="tFirma" value="1" [(ngModel)]="personal.tipoFirma" inputId="fDig"></p-radioButton>
                        <label for="fDig" class="ml-1">Firma Digital</label> -->
                    </div>
                </div>
                <div class="grid">
                    <div class="field col-6">
                        <span class="p-float-label p-float-label-static">
                            <!-- <p-dropdown  [disabled]="!authService.blnAdmin" [options]="listaEstado" [(ngModel)]="personal.estado" optionLabel="nombre" id="estado"
                                [autoDisplayFirst]="false" placeholder="Seleccione" appendTo="body"></p-dropdown> -->
                            <label for="estado">Estado</label>
                        </span>
                    </div>
                    <div class="field col-6">
                        <!-- <p-radioButton  [disabled]="!authService.blnAdmin" name="tFirma" value="0" [(ngModel)]="personal.tipoFirma" inputId="fEle"></p-radioButton> -->
                        <label for="fEle" class="ml-1">Firma Electrónica</label>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="grid">
                    <div class="col-6" style="height: 150px;">
                        <!-- <p-image [src]="personal.fotoUrl | authImage | async" alt="foto" width="100%" height="170px"></p-image> -->
                        <div class="iconos-flotantes">
                            <div style="--url-icon: url(assets/icons/acciones/abrir_archivo.svg)">
                                <!-- <p-button  [disabled]="!authService.blnAdmin"  icon="pi" [styleClass]=" !(personal.foto?.length > 0)? 'button-default custom-icon sin-archivo':'button-default custom-icon'" (onClick)="fotoI.click();"></p-button> -->
                                <input  [disabled]="!authService.blnAdmin"  #fotoI id="foto" name="fotoI" style="display: none;" type="file" (change)="cargarFoto($event)" accept=".jpg, .png, .jpeg">
                            </div>
                            <div style="--url-icon: url(assets/icons/acciones/cancelar.svg)">
                                <!-- <p-button  [disabled]="!authService.blnAdmin" icon="pi" styleClass="button-rojo custom-icon" class="ml-2" (onClick)="quitarFoto()"></p-button> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <span class="p-float-label p-float-label-static">
                            <!-- <textarea [disabled]="!authService.blnAdmin"  rows="9" pInputTextarea [(ngModel)]="personal.observacion" id="obs" style="resize: none; height: 171px;" maxlength="120"></textarea> -->
                            <label for="obs">Observaciones</label>
                        </span>
                    </div>
                </div>
                <div class="grid">
                    <div class="col-12" style="height: 70px;">
                        <!-- <p-image [src]="personal.firmaUrl | authImage | async" alt="firma" width="100%" height="81px"></p-image> -->
                        <div class="iconos-flotantes">
                            <div style="--url-icon: url(assets/icons/acciones/abrir_archivo.svg)">
                                <!-- <p-button [disabled]="!authService.blnAdmin"  icon="pi" [styleClass]=" !(personal.firma?.length > 0)? 'button-default custom-icon sin-archivo':'button-default custom-icon'"  (onClick)="firmaI.click();"></p-button> -->
                                <input  [disabled]="!authService.blnAdmin"  #firmaI id="firma" name="firmaI" style="display: none;" type="file" (change)="cargarFirma($event)" accept=".jpg, .png, .jpeg">
                            </div>
                            <div style="--url-icon: url(assets/icons/acciones/cancelar.svg)">
                                <!-- <p-button [disabled]="!authService.blnAdmin"  icon="pi" styleClass="button-rojo custom-icon" class="ml-2" (onClick)="quitarFirma()"></p-button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-12 mb-2" style="--height-table: 150px;">
                <!-- <p-table [value]="personal.permisos" [scrollable]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 40px;">N</th>
                            <th style="width: 200px;">Motivo</th>
                            <th>Observación</th>
                            <th style="width: 140px;">Fecha Inicio</th>
                            <th style="width: 140px;">Fecha Fin</th>
                            <th style="width: 180px;">Adj</th>
                            <th *ngIf="authService.blnAdmin" style="width: 60px;">
                                <div class="custom-button-table-agregar" (click)="agregarPermiso()">+</div>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-permiso let-i="rowIndex">
                        <tr>
                            <td class="text-center">{{ i + 1 | number:'2.0-0' }}</td>
                            <td>
                                <div *ngIf="permiso.blnHabilitado == true">
                                    <p-dropdown  [disabled]="!authService.blnAdmin"  [options]="listaMotivoPermiso" [(ngModel)]="permiso.motivo" optionLabel="nombre" appendTo="body" [autoDisplayFirst]="false" placeholder="Seleccione"></p-dropdown>
                                </div>
                                <div *ngIf="permiso.blnHabilitado == false">{{ permiso.motivo?.nombre }}</div>
                            </td>
                            <td>
                                <div *ngIf="permiso.blnHabilitado == true">
                                    <input  [disabled]="!authService.blnAdmin" pInputText [(ngModel)]="permiso.observacion" maxlength="240"/>
                                </div>
                                <div *ngIf="permiso.blnHabilitado == false">{{ permiso.observacion }}</div>
                            </td>
                            <td>
                                <div *ngIf="permiso.blnHabilitado == true">
                                    <p-calendar  [disabled]="!authService.blnAdmin" [(ngModel)]="permiso.fechaInicio" appendTo="body" [showTime]="true" [stepMinute]="60"
                                    (onSelect)="permiso.fechaInicio.setMinutes(0); permiso.fechaFin=null" (onInput)="permiso.fechaInicio.setMinutes(0); permiso.fechaFin=null"
                                    [minDate]="fechaMinInicial"></p-calendar>
                                </div>
                                <div *ngIf="permiso.blnHabilitado == false">{{ permiso.fechaInicio | date: 'dd MMM yyyy HH:mm'}}</div>
                            </td>
                            <td>
                                <div *ngIf="permiso.blnHabilitado == true">
                                    <p-calendar  [disabled]="!authService.blnAdmin" [(ngModel)]="permiso.fechaFin" appendTo="body" [showTime]="true" [stepMinute]="60" [minDate]="permiso.fechaInicio"
                                    (onSelect)="permiso.fechaFin.setMinutes(0)" (onInput)="permiso.fechaFin.setMinutes(0)"></p-calendar>
                                </div>
                                <div *ngIf="permiso.blnHabilitado == false">{{ permiso.fechaFin | date: 'dd MMM yyyy HH:mm' }}</div>
                            </td>
                            <td style="max-width: 180px;min-width: 180px;">
                                <div class="flex">
                                    <span (click)="descargarAdjuntoPermiso(i)">
                                        <input  [disabled]="!authService.blnAdmin"  pInputText [(ngModel)]="permiso.adjunto" [disabled]="true" 
                                        [title]="permiso.adjunto? permiso.adjunto:''"/>
                                    </span>
                                    <span style="--url-icon: url(assets/icons/acciones/abrir_archivo.svg)" class="mt-2">
                                        <p-button  [disabled]="!authService.blnAdmin"   [styleClass]=" !(permiso.adjunto?.length > 0)? 'button-default custom-icon sin-archivo':'button-default custom-icon'" class="mr-3" icon="pi"
                                        (onClick)="abrirExploradorPermisos('p_'+i)">
                                        </p-button>
                                        <input  [disabled]="!authService.blnAdmin"  [id]="'p_'+i" name="arcAdj" style="display:none" type="file"
                                        (change)="cargarAdjuntoPermiso($event, i)">
                                    </span>
                                    <span style="--url-icon: url(assets/icons/acciones/cancelar.svg)" class="mt-2">
                                        <p-button  [disabled]="!authService.blnAdmin"  styleClass="button-default custom-icon button-rojo" icon="pi"
                                        (onClick)="eliminarAdjuntoPermiso(i)">
                                        </p-button>
                                    </span>    
                                </div>
                            </td>
                            <td *ngIf="authService.blnAdmin" class="text-center">
                                <div style="--url-icon: url(assets/icons/acciones/cancelar.svg)">
                                    <p-button  [disabled]="!authService.blnAdmin"  icon="pi" styleClass="button-rojo custom-icon" (onClick)="quitarPermiso(i)"></p-button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table> -->
            </div>
        </div>
        <div class="grid">
            <div class="col-12 pb-0 flex justify-content-end">
                <div style="--url-icon: url(assets/icons/acciones/cancelar.svg)">
                    <!-- <p-button label="Salir" icon="pi" styleClass="button-rojo custom-icon" class="mr-3" (onClick)="cerrarModal()" [disabled]="blnOcupado"></p-button> -->
                </div>
                <div *ngIf="false" style="--url-icon: url(assets/icons/acciones/enviar_mail.svg)">
                    <!-- <p-button label="Enviar" icon="pi" styleClass="button-default custom-icon" class="mr-3" [disabled]="true"></p-button> -->
                </div>
                <div style="--url-icon: url(assets/icons/acciones/guardar.svg)">
                    <!-- <p-button label="Guardar"  icon="pi" styleClass="button-default custom-icon" (onClick)="guardar()" [disabled]="blnOcupado || !authService.blnAdmin"></p-button> -->
                </div>
            </div>
        </div>
    </div>  
</div>