<div class="container-login">
    <div class="container-inner">
        <div class="grid container-input">
            <div class="col-4">
                <div class="grid">
                    <div class="col-12" style="display: grid;">
                        <img src="../../../assets/icons/logo.png" alt="logo" class="logo-login">
                        <span style="margin-right: auto; margin-left: auto; color: white; font-size: 4vh; font-weight: 700;">Tourist Path</span>
                        <span style="margin-right: auto; margin-left: auto; color: white; font-size: 1.5vh; font-weight: 300; position: relative; top: -10px;">Plataforma de Soporte Técnico</span>
                    </div>
                </div>
                <div class="grid mt-1">
                    <div class="col-12">
                        <svg fill="white" class="icono-login">
                            <use href="assets/icons/login/password.svg#Capa_2"></use>
                        </svg>
                        <span class="span-login">Ingrese su nueva Contraseña</span>
                        <p-password [(ngModel)]="password" [feedback]="false"></p-password>
                    </div>
                </div>
                <div class="grid mt-1">
                    <div class="col-12">
                        <svg fill="white" class="icono-login">
                            <use href="assets/icons/login/password.svg#Capa_2"></use>
                        </svg>
                        <span class="span-login">Confirme su Contraseña</span>
                        <p-password [(ngModel)]="confirmarPassword" [feedback]="false"></p-password>
                    </div>
                </div>
                <div class="grid mt-1">
                    <div class="col-12 text-center">
                        <p-button label="INGRESAR" styleClass="button-default button-login" (onClick)="activarUsuario()"></p-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="trabajador">
    </div>
    <div class="esquina-inf-izq">
    </div>
</div>